* {
  max-width: 960px;
}
header {
  color: #4d1c02;
}

main {
  color: #4d1c02;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 15px;
}

h3 {
  background-color: #fc8c03;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}

img {
  max-height: 80px;
  max-width: 80px;
  border: brown solid 3px;
}

#products {
  margin: 15px;
}

#showResults {
  background-color: #fdaf4f;
  color: #4d1c02;
  font-family: Gill Sans;
  height: 40px;
  border: solid 3px #4d1c02;
  background-color: #f7f3f0;
  margin: 15px;
}