* {
  max-width: 960px;
}
header {
  color: #4d1c02;
}

main {
  color: #4d1c02;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 15px;
}

h3 {
  background-color: #fc8c03;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}

img {
  max-height: 100px;
  max-width: 100px;
  border: brown solid 3px;
  margin-right: 15px;
}

#products {
  margin: 15px;
  min-height: 200px;
}

#results {
  border: solid 5px  #fc8c03;

}

#showResultsButton {
  background-color: #fdaf4f;
  color: #4d1c02;
  font-family: Gill Sans;
  height: 40px;
  border: solid 3px #4d1c02;
  background-color: #f7f3f0;
  margin: 15px;
}

#canvas {
  padding: 30px;
}